/* Define a fonte e o tamanho do corpo da página */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Centraliza o container do formulário na tela */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Define a altura do container para ocupar toda a altura da tela */
}

/* Estilo para o formulário de login */
.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilos para o cabeçalho */
.login-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

/* Estilos para os campos de entrada */
.login-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Estilos para o botão de enviar */
.login-form button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para o link de login */
.login-form a {
  display: block;
  margin-top: 20px;
  color: #007bff;
}
