/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 50px;
}

form {
  margin-top: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #0062cc;
}

#timer {
  font-size: 60px;
  margin-top: 50px;
  font-weight: bold;
  color: #007bff;
}

/* Estilos do header */
header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  display: none;
}
ul {
  list-style-type: none; /* Removes the default bullet points */
  margin: 0;
  padding: 0;
  background-color: #333; /* Sets the background color of the menu */
}

li {
  display: inline-block; /* Displays the list items in a horizontal line */
}

a {
  display: block;
  padding: 10px;
  color: #fff; /* Sets the color of the text in the menu */
  text-decoration: none; /* Removes the underline from the links */
}

a:hover {
  background-color: #555; /* Sets the background color of the link when hovered over */
}
